body{
	background-color: blue;
}

.heading {
	margin-right: 40px;
	margin-left: 30px;
	background-color: red;
	margin-bottom: 100px;
	padding-bottom: 100px;
}

.main{
	background-color: yellow;
}

.header-logo {
	height: 175px;
	width: 77px;
	float: left;

}

.header-list a{
	float: right;
	font-size: 16px;
	padding: 15px;
	font-family: "arial black";
	color: pink;
}

span {
	color: pink;
	font-style: bold;
}

.member h3 {

	border-bottom: 1px solid #333;
	padding-top: 15px;
	padding-bottom: 25px;
	display: flex;
	flex-wrap: wrap;
}

.member-item {
	width: 25%;	
	flex: auto;
	float: left;
}

.member-item img {
	height: 200px;
	width:  200px;
}

.container h3 {
		border-bottom: 1px solid #333;
	padding-top: 15px;
	padding-bottom: 25px;
}